<template>
<div style="display: flex;  justify-content: center;">
<a href="https://px.a8.net/svt/ejp?a8mat=2NDO5T+GE0L9U+50+2HTVR5" rel="nofollow"><img border="0" width="125" height="125" alt="" src="https://www25.a8.net/svt/bgt?aid=160201361991&wid=001&eno=01&amp;mid=s00000000018015088000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=2NDO5T+GE0L9U+50+2HTVR5" alt=""></div>
</template>
